body {
  font-family: "Open Sans";
  font-style: normal;
  color: $text-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 140%;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

a,
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: $text-primary;
}

p.bold {
  font-weight: bold;
}

a {
  text-decoration-line: underline;
}

.text-secondary {
  color: $text-secondary;
}
