.home-layout {
  display: flex;
  min-height: 100vh;
}
.nav {
  // flex-grow: 1;
  width: 20vw;
}

.components {
  // flex-grow: 4;
  width: 80vw;
  background: #f0f3f8;
}

.container,
.inputs,
.selects,
.textareas,
.avatars,
.list-items {
  display: flex;
  flex-wrap: wrap;
}

.inner-container {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.inner-container div {
  flex: 1 0 250px;
}
/* .container Button,
Input,
Select,
TextArea {
  margin-right: 1rem;
}
.container Input,
Select,
TextArea {
  margin-bottom: 1.5rem;
} */

h4 {
  margin-bottom: 0;
}

.nav {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

.nav h4 {
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .nav {
    display: none;
  }
  .components {
    width: 100vw;
    padding: 2rem;
  }
}
