// brand
$brand-primary: #ff2773;
$brand-primary-light: #ff4d95;
$brand-secondary: #2b1e70;
$brand-secondary-light: #252d9b;

// UI element
$element-primary: #ffffff;
$element-secondary: #685879;
$element-tertiary: #b3abbc;
$element-error: #ee7d52;
$element-success: #5cc689;
$element-neutral: #eaeaea;
$element-overlay: rgba(43, 30, 112, 0.8);
$element-inactive: #eaeaea;

// icon
$icon-disabled: #dedede;
$icon-medium: #685879;

//shadow
$shadow-bottom-1: rgba(25, 1, 52, 0.12);
$shadow-bottom-2: rgba(25, 1, 52, 0.16);
$shadow-top-1: rgba(25, 1, 52, 0.12);
$shadow-top-2: rgba(25, 1, 52, 0.16);

// text
$text-white: #ffffff;
$text-primary: #190134;
$text-tertiary: #b3abbc;
$text-secondary: #685879;
$text-link: #252d9b;
$text-success: #5cc689;
$text-error: #ee7d52;

$success: #5cc689;
$error: #ee7d52;
