.btn {
  padding: 9px 20px;
  border-radius: 250px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 140%;
  border: none;
  position: relative;
  outline: none;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
}

.btn--primary-default {
  background: $brand-primary;
  color: $text-white;

  &:active {
    background: $brand-primary;
  }
  &.btn--hover {
    background: $brand-primary-light;
  }
  &.btn--loading {
    padding: 9px 39px;
  }
  &.btn--active {
    background: $brand-primary;
  }
  &:hover {
    background: $brand-primary-light;
  }
}

.btn--primary-outline {
  background: #ffffff;
  color: $brand-primary;
  border: 1px solid $brand-primary;
  padding: 8px 20px;
}

.btn--primary-minimal {
  background: #ffffff;
  color: $brand-primary;
}

.btn--secondary-default {
  background: $brand-secondary;
  color: #ffffff;

  &:active {
    background: $brand-secondary;
  }
  &.btn--hover {
    background: $brand-secondary-light;
  }

  &.btn--active {
    background: $brand-secondary;
  }
  &:hover {
    background: $brand-secondary-light;
  }
}

.btn--loading,
.btn--success,
.btn--error {
  padding: 18px 39px;
}

.btn--secondary-outline {
  background: #ffffff;
  color: $brand-secondary;
  border: 1px solid $brand-secondary;
  padding: 8px 20px;
}

.btn--secondary-minimal {
  background: #ffffff;
  color: $brand-secondary;
}

.btn--success {
  background: $success;
  color: $text-white;
}

.btn--error {
  background: $error;
  color: $text-white;
}

.btn--disabled {
  background: $text-white;
  color: $text-tertiary;
}

.btn--icon {
  padding: 18px;
  background: $element-primary;
}

.btn svg {
  position: absolute;
  left: calc(50% - 20px / 2);
  top: calc(50% - 20px / 2);
}

.buttons {
  display: flex;
}

/* Ripple effect */
.btn {
  background-position: center;
  transition: background 0.8s;
}
.btn--primary-default:hover {
  background: $brand-primary-light
    radial-gradient(circle, transparent 1%, $brand-primary-light 1%)
    center/15000%;
}
.btn--primary-default:active {
  background-color: $brand-primary;
  background-size: 100%;
  transition: background 0s;
}

.btn--seondary-default:hover {
  background: $brand-secondary-light
    radial-gradient(circle, transparent 1%, $brand-secondary-light 1%)
    center/15000%;
}
.btn--secondary-default:active {
  background-color: $brand-secondary;
  background-size: 100%;
  transition: background 0s;
}
