.btn {
  // width: 67px;
  // height: 36px;
  padding: 9px 15px;
  border-radius: 250px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 140%;
  border: none;
  position: relative;
  outline: none;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
}

.btn--primary-default {
  background: $brand-primary;
  color: $text-white;
  // border: 1px solid $brand-primary;

  &:active {
    background: $brand-primary;
    // width: 72px;
  }
  &.btn--hover {
    background: $brand-primary-light;
    // width: 72px;
  }
  &.btn--loading {
    // width: 68px;
    padding: 9px 34px;
  }
  &.btn--active {
    background: $brand-primary;
    // width: 72px;
  }
  &:hover {
    background: $brand-primary-light;
  }
}

.btn--primary-outline {
  background: #ffffff;
  color: $brand-primary;
  border: 1px solid $brand-primary;
  padding: 8px 14px;
}

.btn--primary-minimal {
  background: #ffffff;
  color: $brand-primary;
}

.btn--secondary-default {
  background: $brand-secondary;
  color: #ffffff;

  &:active {
    // width: 72px;
    background: $brand-secondary;
  }
  &.btn--hover {
    // width: 72px;
    background: $brand-secondary-light;
  }

  &.btn--active {
    // width: 72px;
    background: $brand-secondary;
  }
  &:hover {
    background: $brand-secondary-light;
  }
}

.btn--loading,
.btn--success,
.btn--error {
  padding: 18px 34px;
}

.btn--secondary-outline {
  background: #ffffff;
  color: $brand-secondary;
  border: 1px solid $brand-secondary;
  padding: 8px 14px;
}

.btn--secondary-minimal {
  background: #ffffff;
  color: $brand-secondary;
}

.btn--success {
  background: $success;
  color: $text-white;
}

.btn--error {
  background: $error;
  color: $text-white;
}

.btn--disabled {
  background: $text-white;
  color: $text-tertiary;
}

.btn--icon {
  padding: 18px;
  background: #ffffff;
}

.btn svg {
  position: absolute;
  left: calc(50% - 20px / 2);
  top: calc(50% - 20px / 2);
}

.buttons {
  display: flex;
}
