.select-container {
  position: relative;
  height: 38px;
  width: 288px;
}

.select {
  width: 100%;
  height: 38px;
  border: 1px solid $element-tertiary;
  box-sizing: border-box;
  border-radius: 250px;
  padding-left: 16px;
  color: $text-secondary;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-overflow: "";
  outline: none;
  background: $element-primary url("../../Assets/select.svg") no-repeat scroll
    95% center;
}

select {
  &:focus {
    @include active;
    &:hover {
      @include active;
    }
  }
}

.select--normal {
  border: 1px solid $element-tertiary;
  &:hover {
    @include hover;
  }
}

.select--hover {
  // border: 1px solid $element-secondary;
  @include hover;
}

.select--active {
  // border: 2px solid $element-secondary;
  @include active;
}

.select--disabled {
  // background: $element-inactive;
  @include disabled;
}

.select-container svg {
  position: absolute;
  right: 16px;
  top: calc(50% - 20px / 2);
}

select::-ms-expand {
  display: none;
}
