.textarea-container {
  position: relative;
  // margin-right: 1.5rem;
  // margin-bottom: 1.5rem;
  width: 288px;
  // height: 150px;
}

.textarea {
  width: 100%;
  height: 150px;
  background: $element-primary;
  border: 1px solid $element-tertiary;
  box-sizing: border-box;
  border-radius: 24px;
  outline: none;
  padding-left: 16px;
  padding-top: 16px;
  padding-right: 16px;
  margin: 0;
  resize: vertical;
}

.textarea {
  &:focus {
    @include active;
    &:hover {
      @include active;
    }
  }
}

.textarea-container {
  .alert-icon,
  .check-icon {
    position: absolute;
    right: 16px;
    top: 9px;
  }
  .dragger-icon {
    position: absolute;
    right: 0px;
    bottom: 0px;
  }
}

::-webkit-resizer {
  background-color: transparent;
  display: none;
}

textarea::placeholder {
  //   font-family: "Open Sans";
  font-size: 16px;
  color: $text-secondary;
}
.textarea {
  &:hover {
    @include hover;
  }
}
.textarea--normal {
  border: 1px solid $element-tertiary;
}

.textarea--hover {
  // border: 1px solid $element-secondary;
  @include hover;
}

.textarea--active {
  // border: 2px solid $element-secondary;
  @include active;
  &:hover {
    @include active;
  }
}

.textarea--success {
  // border: 1px solid $element-success;
  @include success;
  &:hover {
    @include success;
  }
  &:focus {
    @include success;
    &:hover {
      @include success;
    }
  }
}

.textarea--error {
  // border: 1px solid $element-error;
  @include error;
  &:hover {
    @include error;
  }
  &:focus {
    @include error;
    &:hover {
      @include error;
    }
  }
}

.textarea--disabled {
  background: $element-inactive;
  &:hover {
    border: 1px solid $element-tertiary;
  }
}
